<!DOCTYPE html>
<html>
<head>
    <title>Any-Buy|{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/base_template/css/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/base_template/css/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/base_template/css/Css/style.css" />
    <script type="text/javascript" src="/base_template/js/Js/jquery2.js"></script>
    <script type="text/javascript" src="/base_template/js/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/base_template/js/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/base_template/js/Js/ckform.js"></script>
    <script type="text/javascript" src="/base_template/js/Js/common.js"></script>
{% block content %}