{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column"></div>
				<div class="col-md-6 column">
					<br>
					<h2 class="text-center text-default" style="color:#3a87ad">Please Choose Address</h2>
					<div class="text-center">

						<form class="form-horizontal" method = 'post' enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_Address" class="col-sm-2 control-label">
								<input type="radio" name="cont" value="{{ rootAddr.CustomerAddress }}.{{rootAddr.CustomerTelephone}}"></label>
							<div class="col-sm-6">
								<input type="text" 
								class="form-control"
								value="{{ rootAddr.CustomerAddress }}"
								readonly="true" 
								></div>
							<div class="col-sm-4">
								<input type="text" 
								class="form-control"
								value="{{ rootAddr.CustomerTelephone }}"
								readonly="true"
								></div>
						</div>
						{% for addr in AddrList %}
							<div class="form-group">
								<label for="id_Address" class="col-sm-2 control-label">
									<input type="radio" name="cont" value="{{ addr.CommodityAddress }}.{{addr.CommodityTelephone}}"></label>
								<div class="col-sm-6">
									<input type="text" 
									class="form-control"
									value="{{ addr.CommodityAddress }}"
									readonly="true"
									></div>
								<div class="col-sm-4">
									<input type="text" 
									class="form-control"
									value="{{ addr.CommodityTelephone }}"
									readonly="true"
									></div>
							</div>
						{% endfor %}
							<div class="form-group">
								<label class="col-sm-2 control-label">
									<input checked="true" id="address" type="radio" name="cont"></label>
								<div class="col-sm-6">
									<input type="text" 
									class="form-control" 
									placeholder="your address"
									id="add" 
									></div>
								<div class="col-sm-4">
									<input type="text" 
									class="form-control" 
									placeholder="your phonenumber"
									id="phone" 
									onblur="add_Address()" 
									></div>
							</div>
							<script>
							function add_Address() {
								$('#address').val($('#add').val()+'.'+$('#phone').val());
							}
							$('form').submit(function(event) {
								if($('input:radio[name="cont"]:checked').val()=="on"){
									alert("your address or telephone is null");
									return false;
								}else{
									return true;
								}
							});
							</script>
							
							
							<div class="form-group">
								<button type="submit" <
								 class="btn btn-primary ">submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}