{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block content %}

<style>
#page_navigation a{
    padding:3px;
    border:1px solid gray;
    margin:2px;
    color:black;
    text-decoration:none
}
.active_page{
    background:lightblue;
    color:white !important;
}
</style>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-112879">
				<div class="carousel-inner">
					<div class="item active">
					<h2 class="text-primary">
								{{ shop.ShopName }}
					</h2>
						<img alt="" src="/file/{{ shop.BigImage }}" />
						<div class="carousel-caption">	
						</div>
					</div>
                    <p class="text-primary">
					   {{ shop.ShopDescription }}
					</p>
				</div>
			</div>
         </div>
    </div>
</div>
            <br><br><br><br><br>
 <div class="container">
	<div class="row clearfix">
		<input type='hidden' id='current_page' />
        <input type='hidden' id='show_per_page' />

        <h3 class="text-primary" style="margin-left: 30px;">
            HOT SELLER
            <span style="font-size:40px;color:red;">!!!</span>
            <input  maxlength="10" type="text" class="form-control" style="width: 253px;" id="little_search" name="search" placeholder="search in shop" onblur="CustomerSearchInShop()" >
        </h3>
<div id="content" class="col-md-12 column">
		
			{% for commodity in commodityList %}

            <a href="/commodity/id/{{ commodity.id }}" 
            class="col-md-3 column" 
            style = "color:#3299CC;margin-bottom: 20px;">
                <img class="img-thumbnail" 
                alt="140x140" src="/file/{{ commodity.CommodityImage }}" 
                style = "height:240px;width:270px;"/>
            </a>
            {% endfor %}
		</div>
		
	</div>
	<div style="display:inline;margin-left: 16px;" id="page_navigation"></div>
                                    <input  maxlength="3" class="form-control" value="1" style="width:40px;height:30px;display:inline" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" onblur="go_to_page(this.value-1)">
	<div class="row clearfix">
		
	</div>
    
</div>
<script type="text/javascript">


    //每页显示的数目
    var show_per_page = 8; 
    //获取content对象里面，数据的数量
    var number_of_items = $('#content').children().size();
    //计算页面显示的数量
    var number_of_pages = Math.ceil(number_of_items/show_per_page);

$(document).ready(function(){
     
     
    //隐藏域默认值
    $('#current_page').val(0);
    $('#show_per_page').val(show_per_page);
     
    var navigation_html = '<a class="btn btn-default" href="javascript:previous();">Pre</a>';
    var current_link = 0;
    if (number_of_pages==0) {
        navigation_html += '<a class="page_link" href="javascript:go_to_page(1)" longdesc="1">1</a>';
    }
    while(number_of_pages > current_link){
        navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a>';
        current_link++;
    }
    navigation_html += '<a class="btn btn-default" href="javascript:next();">Next</a>';
     
    $('#page_navigation').html(navigation_html);
     
    //add active_page class to the first page link
    $('#page_navigation .page_link:first').addClass('active_page');
     
    //隐藏该对象下面的所有子元素
    $('#content').children().css('display', 'none');
     
    //显示第n（show_per_page）元素
    $('#content').children().slice(0, show_per_page).css('display', 'block');
     
}); 
 
//上一页
function previous(){
    new_page = parseInt($('#current_page').val()) - 1;
    //if there is an item before the current active link run the function
    if($('.active_page').prev('.page_link').length==true){
        go_to_page(new_page);
    }
     
}
//下一页
function next(){
    new_page = parseInt($('#current_page').val()) + 1;
    //if there is an item after the current active link run the function
    if($('.active_page').next('.page_link').length==true){
        go_to_page(new_page);
    }
     
}
//跳转某一页
function go_to_page(page_num){
    if ((page_num+1)>number_of_pages) {
        page_num = number_of_pages-1;
    }
    if (page_num<0) {
        page_num = 0;
    }
    //get the number of items shown per page
    var show_per_page = parseInt($('#show_per_page').val());
     
    //get the element number where to start the slice from
    start_from = page_num * show_per_page;
     
    //get the element number where to end the slice
    end_on = start_from + show_per_page;
     
    //hide all children elements of content div, get specific items and show them
    $('#content').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
     
    /*get the page link that has longdesc attribute of the current page and add active_page class to it
    and remove that class from previously active page link*/
    $('.page_link[longdesc=' + page_num +']').addClass('active_page').siblings('.active_page').removeClass('active_page');
     
    //update the current page input field
    $('#current_page').val(page_num);
}
function CustomerSearchInShop() 
{
    var lkeyword = document.
    getElementById("little_search").value.replace(/\s/ig,'');
    if(lkeyword=="")
        alert("Search Content Should Not Be Empty!");
    else{
        top.location.href='/CustomerSearchInShop/'+lkeyword+'/{{shop.id}}';
    }
}
</script>
{% endblock %}