{% extends "sellerbase.html" %}
{% block title %}Modify Commodity{% endblock %}

{% block sellercontent %}
<div class="col-md-6 column">
	<h3 class="text-primary">Commodity Infomation</h3>
	<hr>
	<form id="ddd" method = 'post' enctype="multipart/form-data">
		{% csrf_token %}
		<!-- <div class="form-group">
			<label for="id_CommodityName">Commodity Name:</label>
			<input class="form-control" name="CommodityName" id="id_CommodityName" type="text" placeholder="CommodityName" />
		</div>
		<div class="form-group">
			<label for="id_CommodityDescription">Description:</label>
			<input class="form-control" name="CommodityDescription" id="id_CommodityDescription" type="text" placeholder="Description" />
		</div>
		<div class="form-group">
			<label for="id_CommodityAmount">Amount:</label>
			<input class="form-control" name="CommodityAmount" id="id_CommodityAmount" type="text" placeholder="Amount" />
		</div>
		<div class="form-group">
			<label for="id_SoldAmount">Sold Amount:</label>
			<input class="form-control" id="id_SoldAmount" name="SoldAmount" type="text" placeholder="Sold Amount" />
		</div>
		<div class="form-group">
			<label for="id_PurchasePrice">Purchase Price:</label>
			<input class="form-control" id="id_PurchasePrice" name="PurchasePrice" type="text" />
		</div>
		<div class="form-group">
			<label for="id_SellPrice">Sell Price:</label>
			<input class="form-control" id="id_SellPrice" name="SellPrice" type="text" placeholder="Sell Pirce" />
		</div>
		<div class="form-group">
			<label for="id_CommodityType">Type:</label>
			<select class="form-control span1" data-style="btn-primary" id="id_CommodityType" name="CommodityType">
				<option value="C">TV & Home Theater</option>
				<option value="A">Computers & Tablets</option>
				<option value="S">Cell Phones</option>
				<option value="J">Cameras & Camcorders</option>
				<option value="D">Audio</option>
				<option value="H">Car Electronics & GPS</option>
				<option value="M">Video,Games,Movies & Music</option>
				<option value="F">Health,Fitness & Sports</option>
				<option value="E">Home & Office</option>
				<option value="O">Others</option>
			</select>
		</div>
		<div class="form-group">
			<label for="id_CommodityImage">Image</label>
			<input id="id_CommodityImage" name="CommodityImage" type="file">
		</div>
		<div class="form-group">
			<label for="id_CommodityDiscount">Discount:</label>
			<input class="form-control" id="id_CommodityDiscount" name="CommodityDiscount" type="text"  placeholder="Discount" />
		</div>
		<div class="form-group">
			<input id="id_IsAdv" name="IsAdv" type="checkbox" />
			<label for="id_IsAdv">Is Adv?</label>
		</div> -->
		{{cf.as_p}}
		<input class="btn btn-primary" type="submit" value = "Save" />
	</form>
</div>
<script type="text/javascript">
	// var p = $('p');
	// for (var i = 0; i < p.length; i++) {
	// 	$('<div class="form-group"></div>').appendTo('form');
	// }
	// var div = $('#ddd > div');
	
	// for (var i = 0; i < p.length; i++) {
	// 	div[i].innerHTML = p[i].innerHTML;
	// }
	var label = $('label');
	for (var i = 0; i < label.length; i++) {
		$(label[i]).attr('class', 'col-sm-2 control-label');
	}
	var input = $('input');
	for (var i = 2; i < input.length-2; i++) {
		$(input[i]).attr('class', 'form-control');
	}
	$('#id_CommodityImage').attr('class', '');
	$('#id_CommodityType').attr('class', 'form-control');
	// var discount = document.getElementById('id_CommodityDiscount');
	// discount.onkeyup = function(){
	// 	this.value=this.value.replace(/\D/g,'');
	// 	if(discount.value>10||discount.value<0){
 //  		discount.value = 10;
	// }
</script>
{% endblock %}