{% extends "sellerbase.html" %}
{% block title %}Manage Shop{% endblock %}

{% block sellercontent %}


<style>
#page_navigation a{
    padding:3px;
    border:1px solid gray;
    margin:2px;
    color:black;
    text-decoration:none
}
.active_page{
    background:lightblue;
    color:white !important;
}
</style>

<div class="col-md-10 column">
    <div class="tabbable" id="tabs-890436">
				<ul class="nav nav-tabs">
{#                    {% for shop in shoplist %}#}
					<li class="active">
{#						<a href="#panel-849926" data-toggle="tab">Commodity</a>#}
                        <a href="/seller/modify/0">Add a Commodity</a>
					</li>
{#                    {% endfor %}#}
				</ul>
				<div class="tab-content">
{#                    {% for shop in shoplist %}#}
					<div class="tab-pane active" id="panel-849926">
                        <div class="container">
	                        <div class="row clearfix">
		                        <div class="col-md-10 column">
		                        	<div class="row clearfix">
{#                                        <div style="width: 280px; height: 290px; float: left;">#}
{#                                        <a href="/addcommodity/" style = "color:#3299CC"><img class="img-thumbnail" alt="140x140" src="/file/images/addicon.png" style = "width:270px;"/>add a new commodity</a>#}
{##}
{#                                        </div>#}
                                    <script type="text/javascript">
                                    function del(id) {
                                        xmlhttp=new XMLHttpRequest();
                                        xmlhttp.onreadystatechange=function()
                                            {
                                                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                                                {
                                                    $('#item'+id.toString()).fadeOut();
                                                    $('#commodityadv'+id.toString()).fadeOut();
                                                }
                                            }
                                            xmlhttp.open("GET","/seller/delete/"+id.toString(),true);
                                            xmlhttp.send();
                                        }

                                    function searchInShop() {
                                    lkeyword = document.
                                    getElementById("little_search").
                                    value.replace(/\s/ig,'');
                                    alert(lkeyword);
                                    if(lkeyword=="")
                                    alert("Search Content Should Not Be Empty!");
                                    else{
                                    alert(top.location.href='/searchInShop/'+lkeyword);
                                        }
                                    }
                                    </script>
                                        <div class="col-md-10 column">
                                        <form class="navbar-form" style="margin-left:-30px" action='/searchInShop/'>
                                            <div class="form-group">
                                            <input class="form-control" type="text" id="little_search" name="search" onblur="searchInShop()" placeholder="search in shop">
                                            </div>
                                                                                    </form>
                                       
</div>
<input type='hidden' id='current_page' />

    <input type='hidden' id='show_per_page' />
<div id="content">
                                        {% for commodity in commoditylist %}
                                        <div id="item{{ commodity.id }}" style="width: 280px; height: 290px; float: left;">
                                            <a href="/commodity/id/{{ commodity.id }}" style = "color:#3299CC"><img class="img-thumbnail" alt="140x140" src="/file/{{ commodity.CommodityImage }}" style = "height:240px;width:270px;"/></a>
                                            <a href="/seller/modify/{{ commodity.id }}">Modify</a>
                                            <a onclick="del({{ commodity.id }})">Delete</a>
                                        </div>
                                        {% endfor %}
</div>

			                        </div>
                                    <div style="display:inline" id="page_navigation"></div>
                                    <input class="form-control" style="width:40px;height:30px;display:inline" type="text" onblur="go_to_page(this.value-1)">
		                        </div>
	                        </div>
                        </div>
					</div>
{#                    {% endfor %}#}
				</div>
			</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
     
    //每页显示的数目
    var show_per_page = 5; 
    //获取content对象里面，数据的数量
    var number_of_items = $('#content').children().size();
    //计算页面显示的数量
    var number_of_pages = Math.ceil(number_of_items/show_per_page);
     
    //隐藏域默认值
    $('#current_page').val(0);
    $('#show_per_page').val(show_per_page);
     
    var navigation_html = '<a class="btn btn-default" href="javascript:previous();">上一页</a>';
    var current_link = 0;
    while(number_of_pages > current_link){
        navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a>';
        current_link++;
    }
    navigation_html += '<a class="btn btn-default" href="javascript:next();">下一页</a>';
     
    $('#page_navigation').html(navigation_html);
     
    //add active_page class to the first page link
    $('#page_navigation .page_link:first').addClass('active_page');
     
    //隐藏该对象下面的所有子元素
    $('#content').children().css('display', 'none');
     
    //显示第n（show_per_page）元素
    $('#content').children().slice(0, show_per_page).css('display', 'block');
     
});
 
//上一页
function previous(){
    new_page = parseInt($('#current_page').val()) - 1;
    //if there is an item before the current active link run the function
    if($('.active_page').prev('.page_link').length==true){
        go_to_page(new_page);
    }
     
}
//下一页
function next(){
    new_page = parseInt($('#current_page').val()) + 1;
    //if there is an item after the current active link run the function
    if($('.active_page').next('.page_link').length==true){
        go_to_page(new_page);
    }
     
}
//跳转某一页
function go_to_page(page_num){
    //get the number of items shown per page
    var show_per_page = parseInt($('#show_per_page').val());
     
    //get the element number where to start the slice from
    start_from = page_num * show_per_page;
     
    //get the element number where to end the slice
    end_on = start_from + show_per_page;
     
    //hide all children elements of content div, get specific items and show them
    $('#content').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
     
    /*get the page link that has longdesc attribute of the current page and add active_page class to it
    and remove that class from previously active page link*/
    $('.page_link[longdesc=' + page_num +']').addClass('active_page').siblings('.active_page').removeClass('active_page');
     
    //update the current page input field
    $('#current_page').val(page_num);
}
</script>
{% endblock %}