{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<!--part2 advertisement-->
    <link href="/base_template/css/mystyle.css" rel="stylesheet">
    <link href="/base_template/css/bandari.css" rel="stylesheet">
    <link href="/base_template/css/one.css" rel="stylesheet">
    <div class="clearfix"> </div>
    <!--part3 navigation-->
	<div class="container nav_top">
		<div class="row " style="text-align: center;color: #3a87ad; margin-bottom: 30px;margin-left:10px" >
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor1" class="Font_color">TV</a>
				</ui>
			</div>
			<div class="col-md-1 column nav_change ">
				<ui>
					<a href="#floor2" class="Font_color">Home</a>
				</ui>
			</div>
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor3" class="Font_color">Phones</a>
				</ui>
			</div>
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor4" class="Font_color">Cameras</a>
				</ui>
			</div>
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor5" class="Font_color">Audio</a>
				</ui>
			</div>
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor6" class="Font_color">GPS</a>
				</ui>
			</div>	
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor7" class="Font_color">Video</a>
				</ui>
			</div>	
			<div class="col-md-1 column nav_change">
				<ui>
					<a href="#floor8" class="Font_color">Sports</a>
				</ui>
			</div>	
			<div class="col-md-1 column">
				<ui>
					<a href="#floor9" class="Font_color">Computers</a>
				</ui>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column mycenter">
			<div class="carousel slide" id="carousel-449960" >
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-449960">
					</li>
					<li data-slide-to="1" data-target="#carousel-449960">
					</li>
					<li data-slide-to="2" data-target="#carousel-449960">
					</li>
				</ol>
				<div id="carousel" class="carousel-inner" style="height:400px">   
					<div class="item active">      <!--网站介绍1-->
						<img alt="" src="/file/image/14.jpg" style="height:400px;" >
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">             <!--网站介绍2-->
						<img alt="" src="/file/image/15.jpg" style="height:400px;">
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">              <!--网站介绍3-->
						<img alt="" src="/file/image/16.jpg" style="height:400px;">
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-449960" data-slide="prev"><span class="glyphicon"></span></a> <a class="right carousel-control" href="#carousel-449960" data-slide="next"><span class="glyphicon"></span></a>
			</div>
		</div>
	</div>
	
	
	

	
<div  style = "background-color: #f8f8f8">
<div class="container">

	<div style = "background-color: #f8f8f8">
			<br/>
	</div>
	
	<div id="floor" class="row clearfix" >
		<div class="col-md-3 column " id="floor1" style = "margin-bottom:-50px; margin-right:100px;margin-top:70px" >
		<div class="floor">
			<div class="col-md-3 column floor"  style="height:412px; ">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F1</h2>
					 <h4><strong>TV</strong></h4>
					 <!--<img src="/file/images/clothes.jpg" style="width:80px;height:140px;">-->
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Stereo</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Stereo</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Stereo</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Stereo</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<!--对应分类的图片标识-->
			<div class="col-md-3 column floor" style = "margin-left:40px">
				<img src="/file/image/tv.png" style="width:245px;height:410px;">
			</div>
			
			</div>
		</div>
		<!-- <div style = "background-color: #f8f8f8">
		</div> -->
		<div class="col-md-3 column " id="floor2" style = "margin-bottom:-50px;margin-right:100px;margin-top:70px ">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px; ">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F2</h2>
					 <h4><strong>Home</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Sofa</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Table</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Chair</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Wardrobe</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor" style = "margin-left:40px">
				<img src="/file/image/home.png" style="width:250px;height:410px;">
			</div>
		</div>	
		</div>

		<div class="col-md-3 column " id="floor3" style = "margin-bottom:-50px;margin-right:55px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;" >
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F3</h2>
					 <h4><strong>Phone</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Apple</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">HuaWei</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Samsung</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;"> XiamMi</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">MEIZU</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>

					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor" style = "margin-left:40px">
				<img src="/file/image/phone.png" style="width:245px;height:410px;">
			</div>
			</div>
		</div>
		<div class="col-md-3 column " id="floor4" style = "margin-bottom:-50px;margin-right:100px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;" >
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F4</h2>
					 <h4><strong>Cameras</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">SONY</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Canon</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">NIKON</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Panasonic</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor" style = "margin-left:40px">
				<img src="/file/image/camera.png" style="width:245px;height:410px;">
			</div>
		</div>
		</div>
		<div class="col-md-3 column " id="floor5" style = "margin-bottom:-50px;margin-right:100px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F5</h2>
					 <h4><strong>Audio</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Philips</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">SONY</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Vanguard</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">JBL</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor" style = "margin-left:40px">
				<img src="/file/image/audio.png" style="width:245px;height:410px;">
			</div>
		</div>	
		</div>
		<div class="col-md-3 column " id="floor6" style = "margin-bottom:-50px;margin-right:55px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F6</h2>
					 <h4><strong>GPS</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">FlyAudio</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Caska</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Newman</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Jason</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column  floor" style = "margin-left:40px">
				<img src="/file/image/gps.png" style="width:245px;height:410px;">
			</div>
		</div>	
		</div>
		<div class="col-md-3 column " id="floor7" style = "margin-bottom:-50px;margin-right:100px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F7</h2>
					 <h4><strong>Video</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">CD</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Music</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Movie</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Games</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column  floor" style = "margin-left:40px">
				<img src="/file/image/video.png" style="width:245px;height:410px;">
			</div>
		</div>	
		</div>
		<div class="col-md-3 column " id="floor8" style = "margin-bottom:-50px;margin-right:100px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F8</h2>
					 <h4><strong>Sports</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Shoes</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Basketball</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Treadmill</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Barbell</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column  floor" style = "margin-left:40px">
				<img src="/file/image/sports.png" style="width:245px;height:410px;">
			</div>
		</div>	
		</div>
		<div class="col-md-3 column " id="floor9" style = "margin-bottom:-50px;margin-right:55px;margin-top:70px">
		<div class="floor">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F9</h2>
					 <h4><strong>Computers</strong></h4>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Lenovo</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Apple</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Ipod</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">PC</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">More>></b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column  floor" style = "margin-left:40px">
				<img src="/file/image/computer.png" style="width:245px;height:410px;">
			</div>
		</div>	
		</div>
		
	</div>
	
</div>
</div>
{% endblock %}