{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column"></div>
				<div class="col-md-6 column">
					<h2 class="text-center text-default" style="color:#3a87ad">Change your info here:</h2>
					<div class="text-center">
						<form class="form-horizontal" method = 'post' enctype="multipart/form-data">
							{% csrf_token %}
{{cf.as_p}}
							<button id="id_btn" class="btn btn-primary" type="submit">submit</button>
						</form>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						{% if shop %}

						<h3 style="color:#3a87ad">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Photo</h3>
						<a href="/shop/id/{{ shop.id }}" style = "width:200px;height:160px;float:right;color:#3299CC">
							<img class="img-thumbnail" alt="140x140" src="/file/{{ shop.ShopImage }}"/>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			<br><br><br><br>
		</div>
	</div>
</div>
<script type="text/javascript">
	var p = document.getElementsByTagName("p");
	var ine = p[0].innerHTML.split('</label>')[1];
	
	var length = p.length;
	var parent = p[0].parentNode;

	for (var i = 0; i < length; i++) {
		var ine = p[i].innerHTML.split('</label>')[1];
		var div = document.createElement('div');
		var div2 = document.createElement('div');
		div.innerHTML = p[i].innerHTML;
		div2.innerHTML = ine;
		$(div).attr('class', 'form-group');
		$('div').children('label').attr('class','col-sm-2 control-label');
		$(div2).attr('class', 'col-sm-10');
		$(div).children().last().remove();
		div.appendChild(div2);
		parent.appendChild(div);
	}
	var input = document.getElementsByTagName("input");
	for (var i = 0; i < length; i++) {
		parent.removeChild(p[0]);
	}
	for (var i = 2; i < length+2; i++) {
		$(input[i]).attr('class', 'form-control');
	}
	$('label:eq(5)').attr('class', 'col-sm-2 control-label');
	var btn = document.getElementById("id_btn");
	parent.appendChild(btn);
	var x = $("form > ul");
	x.remove();
	$('form').submit(function(event) {
		var input = $('input');
		var flag = true;
		for (var i = input.length - 1; i >= 2; i--) {
			if(!input.get(i).value)
			{
				flag = false;
			}
		}
		if (!flag) {
			alert('Table should not be empty!');
		}
		return flag;
	});
</script>
{% endblock %}