{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-890436">

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-849926">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            
                                            <h2  class="text-center text-default" style="color:#3a87ad"> <strong>Register</strong>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3 column"></div>
                                <div class="col-md-6 column">
                                    {% if AccountDuplicate %}
                                    <p style="color: red">This account is used! Choose another one.</p>
                                    {% endif %}
                                    {% if EmailDuplicate %}
                                    <p style="color: red">This Email is used! Choose another one.</p>
                                    {% endif %}
                                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">AccountType</label>
                                            <div class="col-sm-10">
                                                <input type="radio" name="identity" value="C" checked="checked">
                                                &nbsp;&nbsp;Customer
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="identity" value="S">&nbsp;&nbsp;Seller</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerAccount" class="col-sm-2 control-label">Account</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="10" type="text" class="form-control" name="CustomerAccount" id="id_CustomerAccount" placeholder="Account"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerName" class="col-sm-2 control-label">Realname</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="10" type="text" class="form-control" name="CustomerName" id="id_CustomerName" placeholder="Realname"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerPassword" class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="10" type="password" class="form-control" id="id_CustomerPassword" name="CustomerPassword" placeholder="Password"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerPassword2" class="col-sm-2 control-label">Repassword</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="10" type="password" class="form-control" name="CustomerPassword2" id="id_CustomerPassword2" placeholder="RePassword"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerTelephone" class="col-sm-2 control-label">User Tel.</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="10" type="text" class="form-control" name="CustomerTelephone" id="id_CustomerTelephone" placeholder="User Tel."></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_CustomerEmail" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input  maxlength="20" type="email" class="form-control" id="id_CustomerEmail" name="CustomerEmail" placeholder="Email Address"></div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="id_CustomerAddress" class="col-sm-2 control-label">UserAdd.</label>
                                            <div class="col-sm-10">
                                            <select class="form-control span1" data-style="btn-primary" id="id_CustomerAddress" name="CustomerAddress">
                                                <option value="Central_and_Western_District">Central_and_Western_District</option>
                                                <option value="Eastern_District">Eastern_District</option>
                                                <option value="Southern_District">Southern_District</option>
                                                <option value="Wan_Chai_District">Wan Chai_District</option>
                                                <option value="Kowloon_City_District">Kowloon_City_District</option>
                                                <option value="Kwun_Tong_District">Kwun Tong_District</option>
                                                <option value="Sham_Shui_Po_District">Sham Shui Po_District</option>
                                                <option value="Wong_Tai_Sin_District">Wong Tai Sin_District</option>
                                                <option value="Yau_Tsim_Mong_District">Yau_Tsim_Mong_District</option>
                                            </select>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 column"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}