<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/style.css" />
    <script type="text/javascript" src="/file/Js/jquery2.js"></script>
    <script type="text/javascript" src="/file/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/file/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/file/Js/ckform.js"></script>
    <script type="text/javascript" src="/file/Js/common.js"></script>

    <style type="text/css">
        body {font-size: 20px;
        font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body >

    <form class="form-inline definewidth m20" action="/allcustomerquery" method="get">
        {% csrf_token %} <font color="#777777"><strong>sellerName：</strong></font> 
        <input type="text" name="customerName" class="abc input-default" placeholder="customername">
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Query</button>
    </form>
    <div>
        <h3 style="text-align: center;color: #3a87ad">All Customer</h3>
    </div>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>CustomerName</th>
                <th>CustomerTelephone</th>
                <th>CustomerEmail</th>
                <th>CustomerAddress</th>
            </tr>
        </thead>
        {% for customer in customerlist %}
        <tr>
            <td>{{customer.CustomerName}}</td>
            <td>{{customer.CustomerTelephone}}</td>
            <td>{{customer.CustomerEmail}}</td>
            <td>{{customer.CustomerAddress}}</td>
            <form action="/delcustomer/" method="post">
            {% csrf_token %}
            <input type="hidden" name="customerName" value="{{customer.CustomerName}}">
                <td>
                    <a>
                        <button class="btn btn-default" type="submit">Del</button>
                    </a>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
</body>
</html>