<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/style.css" />
    <script type="text/javascript" src="/file/Js/jquery2.js"></script>
    <script type="text/javascript" src="/file/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/file/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/file/Js/ckform.js"></script>
    <script type="text/javascript" src="/file/Js/common.js"></script>

    <style type="text/css">
        body {font-size: 20px;
        font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body >

    <form class="form-inline definewidth m20" action="/serachorder" method="get">
        {% csrf_token %} <font color="#777777"><strong>OrderId：</strong></font> 
        <input type="text" name="orderId" class="abc input-default" placeholder="order id">
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Query</button>
    </form>
    <div>
        <h3 style="text-align: center;color: #3a87ad">All Order</h3>
    </div>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>OrderDate</th>
                <th>CommodityName</th>
                <th>CommodityAmount</th>
                <th>CommodityPrice</th>
                <th>CommodityAddress</th>
                <th>CustomerName</th>
                <th>CustomerOrderState</th>
                <th>SellerName</th>
                <th>ShopName</th>
                <th>SellerOrderState</th>
                
            </tr>
        </thead>
        {% for order in orderlist%}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.OrderListDate}}</td>
            <td>{{order.CommodityID.CommodityName}}</td>
            <td>{{order.CommodityID.SellPrice}}</td>
            <td>{{order.CommodityAddressID.CommodityAddress}}</td>
            <td>{{order.CommodityAddressID.CommodityAddress}}</td>
            <td>
                <form action="/authorzation/" method="get" >
                    {% csrf_token %}
                    <button class="btn btn-lg btn-default" id="{{seller.SellerName}}" type="submit" name="Authorzation" value="{{seller.SellerName}}.{{seller.Authorzation}}">{{seller.Authorzation}}</button>
                </form>
            </td>
            <script type="text/javascript">
                    if ($('#{{seller.SellerName}}').html().toLowerCase()=='false') {
                        $('#{{seller.SellerName}}').html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    }else{
                        $('#{{seller.SellerName}}').html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;no&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    }
                    </script>
            <form action="/delseller/" method="post">
                {% csrf_token %}
                <td>
                    <a>
                        <input type="hidden" name='sellerName' value="{{seller.SellerName}}">
                        <button class="btn btn-primary" type="submit">Del</button>
                    </a>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
</body>
</html>