<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/style.css" />
    <script type="text/javascript" src="/file/Js/jquery2.js"></script>
    <script type="text/javascript" src="/file/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/file/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/file/Js/ckform.js"></script>
    <script type="text/javascript" src="/file/Js/common.js"></script>

    <style type="text/css">
        body {font-size: 20px;
        font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body >

    <form class="form-inline definewidth m20" action="/salehistory" method="get">
        {% csrf_token %} <font color="#777777"><strong>commission：</strong></font> 
        <input type="text" maxlength="2" name="commission" class="abc input-default" placeholder="Commission">
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
    <div>
        <h3 style="text-align: center;color: #3a87ad">Sale History</h3>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/admin/salehistory/all">
        <button class='btn btn-info btn-xs'>All Sales</button>
    </a>
    <a href="/admin/salehistory/year">
        <button class='btn btn-info btn-xs'>Year Sales</button>
    </a>
    <a href="/admin/salehistory/month">
        <button class='btn btn-info btn-xs'>Month Sales</button>
    </a>
    <a href="/admin/salehistory/day">
        <button class='btn btn-info btn-xs'>Weekly Sales</button>
    </a>
    <a href="/admin/salehistory/day">
        <button class='btn btn-info btn-xs'>Day Sales</button>
    </a>
    <table class="table table-bordered table-hover definewidth m10">

        <thead>
            <tr>
                <th>Order No.</th>
                <th>Commodity Name</th>
                <th>Order Time</th>
                <th>Unit Price</th>
                <th>Counts</th>
                <th>Actual Money</th>
                <th>Customer Info</th>
                <th>Status</th>
                <th>Remaining Time</th>
            </tr>
        </thead>
        {% for saleshistory in salehistorylist %}
        <tr class="yanse" id="item{{saleshistory.CommodityID.id}}">
            <td>{{ saleshistory.id }}</td>
            <td>{{ saleshistory.CommodityID.CommodityName }}</td>
            <td>{{ saleshistory.OrderListDate }}</td>
            <td>{{ saleshistory.CommodityID.SellPrice }}HK$</td>
            <td>{{ saleshistory.OrderAmount }}</td>
            <td>
                {% widthratio saleshistory.CommodityID.SellPrice 1 saleshistory.OrderAmount %}HK$
            </td>
            <td>
                Name:{{ saleshistory.CustomerOrderID.CustomerID.CustomerName}}
                <br>
                Tel:{{ saleshistory.CustomerOrderID.CustomerID.CustomerTelephone}}
                <br>
                Email:{{ saleshistory.CustomerOrderID.CustomerID.CustomerEmail}}
                <br>
                Addr:{{ saleshistory.CustomerOrderID.CustomerID.CustomerAddress }}
            </td>
            {% if saleshistory.OrderListState == 0 %}
            <td>paying</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 1 %}
            <td>
                shipping
                <br>ShipNo:{{ saleshistory.ShipNo }}</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 2 %}
            <td>signing</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 3 %}
            <td>commenting</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 4 %}
            <td>refunding</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 5 %}
            <td>refunded</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 6 %}
            <td>refused refunded</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 7 %}
            <td>finish</td>
            {% endif %}
                    {% if saleshistory.OrderListState == 8 %}
            <td>commented</td>
            {% endif %}
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Total Value: {{totalvalue}}HK$</b>
    <br>
    <b>Admin Income: {{ctotalvalue}}HK$</b>
    <br>
    <b>Admin commission: {{scommission}}%</b>
</body>
</html>