<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/file/Css/style.css" />
    <script type="text/javascript" src="/file/Js/jquery2.js"></script>
    <script type="text/javascript" src="/file/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/file/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/file/Js/ckform.js"></script>
    <script type="text/javascript" src="/file/Js/common.js"></script>

    <style type="text/css">
        body {font-size: 20px;
        font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body >
    <form class="form-inline definewidth m20" action="/querysblacklist/" method="get"> <font color="#777777"><strong>SellerAccount：</strong></font> 
        <input type="text" name="sellerAccount" id="menuname" class="abc input-default" placeholder="selleraccount">
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Query</button>
        &nbsp;&nbsp;
    </form>
    <div>
        <h3 style="text-align: center;color: #3a87ad">Seller BlackList</h3>
    </div>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>ID</th>
                <th>SellerAccount</th>

                <th>SellerTelephone</th>
                <th>SellerEmail</th>
                <th>SellerName</th>
            </tr>
        </thead>
        {% for seller in sellerlist%}
        <tr>

            <td>{{seller.id}}</td>
            <td>{{seller.SellerAccount}}</td>
            <td>{{seller.SellerTelephone}}</td>
            <td>{{seller.SellerEmail}}</td>
            <td>{{seller.SellerName}}</td>

            <td>
            &nbsp;&nbsp;&nbsp;
                <form action="/addsblacklist/" style="display: inline-block;">
                    <input type="hidden" name="sellerAccount" value="{{seller.SellerAccount}}">
                    <button id="{{seller.id}}" class="btn btn-default" type="submit">{{IsIn}}</button>
                </form>
            </td>
                <script type="text/javascript">
                    if ($('#{{seller.id}}').html().toLowerCase()=='0') {
                        $('#{{seller.id}}').html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    }else{
                        $('#{{seller.id}}').html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;del&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    }
                    </script>
        </tr>
        {% endfor %}
    </table>

</body>
</html>